<nav class="navbar navbar-default navbar-fixed-top"
    style="height:79px; background-color:white; border-color:black;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img class="navbar-brand" src="../images/favicon.png" alt="brand"
        style="height:75px; width:75px; padding: 5px 5px">
      <a class="navbar-brand" href="#"
      style="color:black; height:75px;
        padding-bottom:0px; line-height:75px; font-size:22px" >Dashboard</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/" style="line-height:75px; height:75px">Inventory</a></li>
        <li><a href="/movement" style="line-height:75px; height:75px">Movement</a></li>
        <li><a href="#"style="line-height:75px; height:75px">Open Claim</a></li>
        <li><a href="#"style="line-height:75px; height:75px">Closed Claim</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" style="line-height:75px"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"style="line-height:75px"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
